unpackaged/volunteersQuickStartRetrieve/flows/VMQS_Rollup_Volunteer_Initiative.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_account_Id_to_unique_Id_list</name>
        <label>Add account Id to unique Id list</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>uniqueAccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Account_JPA.AssignedAccountId__NotFound</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Account_JPA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_contact_Id_to_unique_Id_list</name>
        <label>Add contact Id to unique Id list</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>uniqueContactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Contact_JPA.AssignedContactId__NotFound</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Contact_JPA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Attendance_Rate</name>
        <label>Assign Attendance Rate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>completeCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_all_Complete_JPA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>closedJPACount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_all_Closed_JPA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>volInitiative.AttendanceRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>attendanceRateFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>openJPACount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_all_Open_JPA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Complete_JPA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update Filled Assignment Count with all Closed (Complete, Absent) JPA</description>
        <name>Assign_Filled_Assignment_Count</name>
        <label>Assign Filled Assignment Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>volInitiative.FilledAssignmentCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_all_Filled_JPA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Account_JPA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Open_Assignment_Count</name>
        <label>Assign Open Assignment Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>volInitiative.OpenAssignmentCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_all_Open_JPA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Filled_Assignment_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Active_Volunteer_Account</name>
        <label>Assign Total Active Volunteer (Account)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>totalAccountVolunteers</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>uniqueAccountIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Contact_JPA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Active_Volunteer_Contact</name>
        <label>Assign Total Active Volunteer (Contact)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>totalContactVolunteers</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>uniqueContactIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Total_Active_Volunteer_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Active_Volunteer_Count</name>
        <label>Assign Total Active Volunteer Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>volInitiative.TotalActiveVolunteerCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>totalActiveVolunteerCountFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Volunteer_Initiative</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Assignment_Count</name>
        <label>Assign Total Assignment Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>volInitiative.TotalAssignmentCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_all_Job_Position_Assignments_for_this_Volunteer_Initiative</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Open_Assignment_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Hours</name>
        <label>Assign Total Hours</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>totalHoursVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Complete_JPA.ActualDuration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Complete_JPA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Volunteer_Hours</name>
        <label>Assign Total Volunteer Hours</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>volInitiative.TotalVolunteerHours</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>totalHoursVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Total_Assignment_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets Id of Volunteer Initiative record that will receive rollup values</description>
        <name>Assign_Volunteer_Initiative</name>
        <label>Assign Volunteer Initiative</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>volInitiative.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RelatedVolunteerInitiativeId__NotFound</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Attendance_Rate</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>All JPA tied to an Account record</description>
        <name>Filter_all_Account_related_JPA</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter all Account-related JPA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_all_Account_related_JPA</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_all_Job_Position_Assignments_for_this_Volunteer_Initiative</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_all_Account_related_JPA.AssignedAccountId__NotFound</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_all_Account_related_JPA.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Complete</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_all_Contact_related_JPAs</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_all_Closed_JPA</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter all Closed JPA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_all_Closed_JPA</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_all_Job_Position_Assignments_for_this_Volunteer_Initiative</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_all_Closed_JPA.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Complete</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_all_Closed_JPA.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Canceled</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_all_Closed_JPA.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Absent</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_all_Filled_JPA</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_all_Complete_JPA</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter all Complete JPA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_all_Complete_JPA</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_all_Job_Position_Assignments_for_this_Volunteer_Initiative</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_all_Complete_JPA.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Complete</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_all_Closed_JPA</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>All Job Position Assignment records tied to a Contact</description>
        <name>Filter_all_Contact_related_JPAs</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter all Contact-related JPAs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_all_Contact_related_JPAs</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_all_Job_Position_Assignments_for_this_Volunteer_Initiative</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_all_Contact_related_JPAs.AssignedContactId__NotFound</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_all_Contact_related_JPAs.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Complete</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Volunteer_Initiative</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>All JPA where status is Complete or Absent (removing Canceled)</description>
        <name>Filter_all_Filled_JPA</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter all Filled JPA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_all_Filled_JPA</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_all_Job_Position_Assignments_for_this_Volunteer_Initiative</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_all_Filled_JPA.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Complete</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_all_Filled_JPA.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Absent</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_all_Account_related_JPA</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>All Job Position Assignment records where status is NOT Complete, Canceled, Absent</description>
        <name>Filter_all_Open_JPA</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter all Open JPA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_all_Open_JPA</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_all_Job_Position_Assignments_for_this_Volunteer_Initiative</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_all_Open_JPA.Status</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Complete</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_all_Open_JPA.Status</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Canceled</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_all_Open_JPA.Status</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Absent</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_all_Complete_JPA</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <description>Compare current Account Id to list of processed Account Ids</description>
        <name>Is_Account_Id_unique</name>
        <label>Is Account Id unique?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Account_JPA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Id_is_unique</name>
            <conditionLogic>NOT 1</conditionLogic>
            <conditions>
                <leftValueReference>uniqueAccountIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_through_Account_JPA.AssignedAccountId__NotFound</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_account_Id_to_unique_Id_list</targetReference>
            </connector>
            <label>Account Id is unique</label>
        </rules>
    </decisions>
    <decisions>
        <description>Compare current Contact Id to list of Contact Ids</description>
        <name>Is_Contact_Id_unique</name>
        <label>Is Account Id unique?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Contact_JPA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Id_is_unique</name>
            <conditionLogic>NOT 1</conditionLogic>
            <conditions>
                <leftValueReference>uniqueContactIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_through_Contact_JPA.AssignedContactId__NotFound</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_contact_Id_to_unique_Id_list</targetReference>
            </connector>
            <label>Contact Id is unique</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>All Complete JPA divided by all Closed (Complete, Absent, Canceled) JPA</description>
        <name>attendanceRateFormula</name>
        <dataType>Number</dataType>
        <expression>{!completeCount} / {!closedJPACount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>totalActiveVolunteerCountFormula</name>
        <dataType>Number</dataType>
        <expression>{!totalContactVolunteers} + {!totalAccountVolunteers}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>VMQS Volunteer Initiative {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VMQS Rollup Volunteer Initiative</label>
    <loops>
        <name>Loop_through_Account_JPA</name>
        <label>Loop through Account JPA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_all_Account_related_JPA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Account_Id_unique</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Total_Active_Volunteer_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Complete_JPA</name>
        <label>Loop through Complete JPA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_all_Complete_JPA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Total_Hours</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Total_Volunteer_Hours</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Contact_JPA</name>
        <label>Loop through Contact JPA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_all_Contact_related_JPAs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Contact_Id_unique</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Total_Active_Volunteer_Contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_Job_Position_Assignments_for_this_Volunteer_Initiative</name>
        <label>Get all Job Position Assignments for this Volunteer Initiative</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_all_Open_JPA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedVolunteerInitiativeId__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedVolunteerInitiativeId__NotFound</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>JobPositionAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Volunteer Initiative record with all rollup values</description>
        <name>Update_Volunteer_Initiative</name>
        <label>Update Volunteer Initiative</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>volInitiative</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_Job_Position_Assignments_for_this_Volunteer_Initiative</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>JobPositionAssignment</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <description>Count of all JPA where Status is Canceled, Absent, and Complete</description>
        <name>closedJPACount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Count of records where Status = Complete</description>
        <name>completeCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Filter_all_Account_related_JPA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>JobPositionAssignment</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_all_Closed_JPA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>JobPositionAssignment</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_all_Complete_JPA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>JobPositionAssignment</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_all_Contact_related_JPAs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>JobPositionAssignment</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_all_Filled_JPA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>JobPositionAssignment</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_all_Open_JPA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>JobPositionAssignment</objectType>
    </variables>
    <variables>
        <name>openJPACount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Count of unique Account Ids related to Volunteer Initiative</description>
        <name>totalAccountVolunteers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>totalActiveVolunteerCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>totalContactVolunteers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>totalHoursVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>uniqueAccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>uniqueContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>volInitiative</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VolunteerInitiative</objectType>
    </variables>
</Flow>
