unpackaged/volunteersQuickStart/step2/flows/VMQS_Rollup_Donor_Gift_Summary.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Set Id of placeholder record to the Donor Gift Summary receiving rollup updates</description>
        <name>Assign_Donor_Gift_Summary_Id</name>
        <label>Assign Donor Gift Summary Id</label>
        <locationX>580</locationX>
        <locationY>519</locationY>
        <assignmentItems>
            <assignToReference>donorGiftSummary.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Donor_Gift_Summary.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_all_Complete_JPA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_First_Volunteer_Date</name>
        <label>Assign First Volunteer Date</label>
        <locationX>837</locationX>
        <locationY>1309</locationY>
        <assignmentItems>
            <assignToReference>donorGiftSummary.FirstVolunJobPstnAsgntDt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>firstVolunteerFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_get_Last_JPA_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Last_Volunteer_Date</name>
        <label>Assign Last Volunteer Date</label>
        <locationX>847</locationX>
        <locationY>1510</locationY>
        <assignmentItems>
            <assignToReference>donorGiftSummary.LastVolunJobPstnAsgntDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lastVolunteerDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Donor_Gift_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_running_total_of_hours</name>
        <label>Assign running total of hours</label>
        <locationX>1003</locationX>
        <locationY>784</locationY>
        <assignmentItems>
            <assignToReference>totalHoursCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_hours.ActualDuration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Completed_hours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sum of all ActualDuration values from JPA</description>
        <name>Assign_Total_Volunteer_Hours</name>
        <label>Assign Total Volunteer Hours</label>
        <locationX>611</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>donorGiftSummary.TotalVolunteerHours</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>totalHoursCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sort_Completed_JPA_by_Date_Ascending</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>All JPA records for this Account</description>
        <name>Assign_Total_Volunteer_Job_Count</name>
        <label>Assign Total Volunteer Job Count</label>
        <locationX>323</locationX>
        <locationY>709</locationY>
        <assignmentItems>
            <assignToReference>donorGiftSummary.TotalVolunJobPstnAsgnCnt</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_all_Job_Position_Assignments_by_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Completed_hours</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_all_Complete_JPA</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter all Complete JPA</label>
        <locationX>806</locationX>
        <locationY>655</locationY>
        <assignNextValueToReference>currentItem_Filter_all_Complete_JPA</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_all_Job_Position_Assignments_by_Account</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_all_Complete_JPA.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Complete</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Total_Volunteer_Job_Count</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_Completed_JPA_by_Date_Ascending</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Completed JPA by Date Ascending</label>
        <locationX>377</locationX>
        <locationY>1065</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Filter_all_Complete_JPA</collectionReference>
        <connector>
            <targetReference>Loop_to_get_First_JPA_date</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>ActualStartTime</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <environments>Default</environments>
    <formulas>
        <name>firstVolunteerFormula</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Loop_to_get_First_JPA_date.ActualStartTime})</expression>
    </formulas>
    <formulas>
        <name>lastVolunteerDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Loop_to_get_Last_JPA_date.ActualStartTime})</expression>
    </formulas>
    <interviewLabel>VMQS Rollup: Donor Gift Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VMQS Rollup: Donor Gift Summary</label>
    <loops>
        <name>Loop_through_Completed_hours</name>
        <label>Loop through Completed hours</label>
        <locationX>611</locationX>
        <locationY>778</locationY>
        <collectionReference>Filter_all_Complete_JPA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_running_total_of_hours</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Total_Volunteer_Hours</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_to_get_First_JPA_date</name>
        <label>Loop to get First JPA date</label>
        <locationX>489</locationX>
        <locationY>1301</locationY>
        <collectionReference>Filter_all_Complete_JPA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_First_Volunteer_Date</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_to_get_Last_JPA_date</name>
        <label>Loop to get Last JPA date</label>
        <locationX>547</locationX>
        <locationY>1506</locationY>
        <collectionReference>Filter_all_Complete_JPA</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Last_Volunteer_Date</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get all JPA records tied to the same Account</description>
        <name>Get_all_Job_Position_Assignments_by_Account</name>
        <label>Get all Job Position Assignments by Account</label>
        <locationX>766</locationX>
        <locationY>381</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Donor_Gift_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssignedAccountId__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AssignedAccountId__NotFound</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>JobPositionAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Donor_Gift_Summary</name>
        <label>Get Donor Gift Summary</label>
        <locationX>402</locationX>
        <locationY>452</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Donor_Gift_Summary_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DonorId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AssignedAccountId__NotFound</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DonorGiftSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Donor_Gift_Summary</name>
        <label>Update Donor Gift Summary</label>
        <locationX>627</locationX>
        <locationY>1756</locationY>
        <inputReference>donorGiftSummary</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_all_Job_Position_Assignments_by_Account</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>JobPositionAssignment</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_Filter_all_Complete_JPA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>JobPositionAssignment</objectType>
    </variables>
    <variables>
        <name>donorGiftSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DonorGiftSummary</objectType>
    </variables>
    <variables>
        <name>totalHoursCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
