unpackaged/volunteersQuickStart/step2/flows/VMQS_Rollup_Jop_Position_Shift.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Position_Assignment_Count</name>
        <label>Assign Position Assignment Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>jobPositionShift.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AssignedPositionShiftId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobPositionShift.PositionAssignmentCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Job_Position_Assignments_related_to_the_same_Shift</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Job_Position_Shift</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>VMQS Rollup: Jop Position Shift {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VMQS Rollup: Jop Position Shift</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Job_Position_Assignments_related_to_the_same_Shift</name>
        <label>Get Job Position Assignments related to the same Shift</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Position_Assignment_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssignedPositionShiftId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AssignedPositionShiftId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>JobPositionAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Job_Position_Shift</name>
        <label>Update Job Position Shift</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>jobPositionShift</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Job_Position_Assignments_related_to_the_same_Shift</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>JobPositionAssignment</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_Filter_Complete_JPA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>JobPositionAssignment</objectType>
    </variables>
    <variables>
        <name>jobPositionShift</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>JobPositionShift</objectType>
    </variables>
    <variables>
        <name>totalHoursCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
